{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1 class="mb-4">Available Quizzes</h1>

    {% for quiz in quizzes %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ quiz.title }}</h5>
                <p class="card-text">{{ quiz.description }}</p>
                <a href="{{ url_for('quiz', quiz_id=quiz.id) }}" class="btn btn-primary">
                    Take Quiz
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}